.education-wrapper {
    width: 100%;
   max-height: 750px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.education-cards {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: black;
}

.education-cards h2 {
    font-size: 26px;
    font-weight: 300;
    color:  #31b0d5;
    padding-top: 10px;
    text-transform: uppercase;
}
.education-cards h3 {
    color: grey;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.card {
    border: 0.5px solid grey;
    height: 270px;
    padding: 14px;
    margin-top: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: anim;
    animation-duration: 1.5s;
    
}
.card:nth-child(1) {
    margin-top: 110px;
    margin-left: 150px;
    
}
.card:nth-child(2) {
    margin-right: 150px;
}
.card:nth-child(3) {
    margin-left: 150px;
}
@keyframes anim {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.card {
    box-shadow: 5px 4px 16px #888888; 
 }
.card p {
    width: 90%;
    padding: 10px;
    color: #fff;
    font-size: 16px;
}
.education-cards .scroll i {
    color:  #31b0d5;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    .education-wrapper {
        max-height: 100%; 
    }
    .education-cards {
        width: 100%;
        
    }
    .card {
        width: 90%;
        border: none;
        height: 100%;
    }
    .card h3 {
        font-size: 16px;
    }
    .card p {
        font-size: 14px;
    }
    .card:nth-child(1) {
        margin-top: 110px;
        margin-left: 0px;
    }
    .card:nth-child(2) {
        margin-right: 0;
    }
    .card:nth-child(3) {
        margin-left: 0px;
    }
}

/* success */
.success {
    width: 100%;
    height: 400px;
    background-color: rebeccapurple;
}
